.badge-container {
  background-color: #0071b6;;
  color: white;
  width: 32px;
  font-size: 11px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}